---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$highlight-text-color: yellow;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Change the color of all h1 tags to blue
h1 {
  color: red;
}
